body{

    /* light text  */
    color: #f7f7f7;
  }
input::placeholder {
    color: red;
    font-size: 1.0em;
    font-style: italic;
  }
.jumbotron {
    background-image: url("C://Users/hulya/Documents/ClassFolder/UFOs/images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  